<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="leanft">
      <section name="report" type="HP.LFT.Report.Configuration.ReportConfigSection, HP.LFT.Report"/>
      <section name="sdk" type="HP.LFT.SDK.Configuration.SDKConfigSection, HP.LFT.SDK"/>
    </sectionGroup>
  </configSections>


  <leanft>
    <!--
      ==============================================================================================================================
       SDK Section.
       Available SDK options.
      ==============================================================================================================================
     
      sdk:    
        mode: Indicates the mode of the SDK. The possible values are:   
               - replay - This is the default mode for running tests. 
               - interactive - Use this mode when you build a design-time tool using the LeanFT SDK.
      connection:
        address: The LeanFT runtime engine URL and port. Default: ws://localhost:5095
      connect (optional):
        timeout: Maximum time (in seconds) to try to connect to the runtime engine.  Default: 60
      response (optional):
        timeout: Maximum time (in seconds) to wait for a response to any command sent to the runtime engine. Default: 600 
      server (optional):
        autolaunch: If "true", the LeanFT runtime engine is launched on LeanFT SDK initialization.
                    Relevant only for local runs. When running remotely, set this value to false.
                    Default: true
    -->

    <!--  To change behavior, uncomment the section below and set the values.  -->
    <!-- 
    <sdk mode="replay">
      <connection address="ws://localhost:5095">
        <connect timeout="60" />
        <response timeout="600"/>
      </connection>
      <server autolaunch="true" />
    </sdk>
    -->

    <!--
      ==============================================================================================================================
       Report Section.
       Available Report options.
      ==============================================================================================================================
 
      heading (optional):
        title (optional): Title heading in the HTML Report. When not defined, the title is 'Run Results'.
        description (optional): Description displayed below the title in the HTML Report. When not defined, no description is included.
      output (optional):
        target-directory (optional): Location of generated report folder. Default path is the project Output path.
        report-folder    (optional): Name of the report folder. Default: "RunResults"
        override-existing (optional): Indicates whether the existing report folder is overwritten on each run.
                                      If false, each report folder gets an ordinal suffix.
                                      Default: true
      filter (optional):
        level (optional): Minimal level of events to be included to the report. The possible values are:
                           - All (default)
                           - Warning
                           - Error
                           - Off
      media (optional):
        snapshots (optional):
          level (optional): Condition for attaching snapshots to the report. The possible values are:
                             - All
                             - OnError
                             - Off (default)
     -->

    <!--  To change behavior, uncomment the section below and set the values.  -->
    <!--
    <report>
      <heading>
        <title></title>
        <description></description>
      </heading>
      <output target-directory="." report-folder="RunResults"  override-existing="true"/>
      <filter level="All"/>
      <media>
        <snapshots level="Off"/>
      </media>
    </report>
    -->

  </leanft>

</configuration>
